<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wj.demo">

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/first_activity_start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.DemoJsonActivity" />
        <activity android:name=".ui.activity.DemoElasticScorllViewActivity" />
        <activity android:name=".ui.activity.DemoChangeProtraitActivity" />
        <activity android:name=".ui.activity.DemoGifViewActivity" />
        <activity android:name=".ui.activity.DemoZoomImageActivity" />
        <activity android:name=".ui.activity.DemoEmptyLayoutActivity" />
        <activity android:name=".ui.activity.DemoClearEdittextActivity" />
        <activity android:name=".ui.activity.hongbao.DemoWeChatGetHongbaoActivity" />
        <activity android:name=".ui.activity.killprocess.DemoNotKillProcessActivity" />

        <service
            android:name=".ui.activity.hongbao.HongbaoService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/config" />
        </service>

        <!--实现进程无法被杀死，两个service，一个是本地进程，另一个标为远程进程，也就是另一个进程-->
        <service
            android:name=".ui.activity.killprocess.LocalService"
            >
        </service>
        <service
            android:name=".ui.activity.killprocess.RemoteService"
            android:process=".remoteservice"
            >
        </service>

    </application>

</manifest>